.center {
  background-image: url("./img/bg2.jpg");
  background-repeat: no-repeat;
  margin: auto;
  position: absolute;
  height: 450px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a:hover {
  text-decoration: none;
}

.status a span {
  margin-right: 10px;
}

.status a.active span {
  font-weight: bold;
}

.back {
  background-image: url("./img/bg1.jpg");
  background-repeat: no-repeat;
}

.trip-header {
  margin-top: 10px;
}

.supplies {
  display: inline-block;
  width: 70%;
}

.profile {
  height: 20px;
}
