.back {
  background: no-repeat;
  margin: 0 auto;
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background 2s ease-in-out;
  -moz-transition: background 2s ease-in-out;
  transition: background 2s ease-in-out;
}

/*
==================
Navigation Related
==================
*/
.navbar {
  margin-bottom: 0;
}
nav.navbar {
  border-radius: 0;
}
.profile {
  height: 20px;
}
a.auth {
  cursor: pointer;
}

/*
===========================
New Trip & Existing Related
===========================
*/
.main-view {
  margin-bottom: 20px;
  height: 100%;
}
.main-view .row {
  height: 100%;
}
a:hover {
  text-decoration: none;
}
.status a span {
  margin-right: 10px;
}
.status a.active span {
  font-weight: bold;
}
#map {
  height: 400px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.search {
  margin-top: 10px;
  width: 50%;
}
.trip-header {
  margin-top: 10px;
}
.trip-center {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.supplies {
  display: inline-block;
  width: 70%;
}
.side-side {
  display: inline-block;
  width: 200px;
  height: 300px;
  vertical-align: top;
  margin-right: 15px;
  margin-left: 15px;
}
.right {
  padding-left: 10px;
  border-left: 1px dashed black;
}
.add-header {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
.delete {
  color: red;
}
.summary, .existing {
  width: 400px;
  margin: 10px auto;
}
.block {
  margin-top: 10px;
}
#trip.ng-enter { 
  transition: 2s all ease; 
  -moz-transition: 2s all ease; 
  -webkit-transition: 2s all ease; 
  opacity: 0;
}
#trip.ng-enter-active { 
  opacity: 1;
}

/*
============
Chat Related
============
*/
.chat-toggle {
  float: right;  
}
#chat {
  background: white;
  height: 100%;
  padding: 0;
}
#chat form {
  border: 2px solid black;
  width: 100%;
}
#chat form input, #chat form button {
  border-radius: 0;
}
#chat.ng-enter {
  transition: .5s all ease; 
  -moz-transition: .5s all ease; 
  -webkit-transition: .5s all ease; 
  opacity: 0;
}
#chat.ng-enter-active { 
  opacity: 1;
}
#chat.ng-leave {
  transition: .5s all ease; 
  -moz-transition: .5s all ease; 
  -webkit-transition: .5s all ease; 
  opacity: 1;
}
#chat.ng-leave-active { 
  opacity: 0;
}
.message {
  padding: 5px;
  margin: 5px 5px 0 5px;
}
.user {
  margin-right: 5px;
}