<!-- navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <a ui-sref="home"><em class="navbar-brand">Hike Planner</em></a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="home"><img class="profile" ng-src={{auth.profile.picture}} alt="profile_pic"/></a></li>
      <li><a href="">{{ auth.profile.name }}</a></li>
      <li><a class="auth" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    
  </div>
</nav>

<!-- main container -->
<div class="container-fluid text-center main-view">
  <div class="row">
  
    <div class="col-md-6" ng-class="{'col-md-offset-3': !chat.value, 'col-md-6': !chat.value, 'col-md-9': chat.value}">
      <a href="" class="chat-toggle" ng-click="toggleChat()"><span class="glyphicon glyphicon-comment"></span></a>
      <h3>Explore</h3>
      <a class="btn btn-default" ui-sref="home.new-trip.name">New Trip</a>
      <a class="btn btn-default" ui-sref="home.itinerary">View Existing</a>
      
      <!-- container for new-trip and existing trip children views -->
      <div class="row">
        <div class="col-md-12">
          <div ui-view></div>
        </div>
      </div>
    </div>
    
    <!-- container for chat panel   -->
    <!-- should probably put this in separate view -->
    <div class="col-md-3" id="chat" ng-if="chat.value">
      <div>
        <form>
          <div class="input-group">
            <input id="message" class="form-control" ng-model="chat.message" autocomplete="off" />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="sendMessage()">Send</button>
            </span>
          </div>
        </form>
        <ul class="list-unstyled text-left">
          <li class="message" ng-repeat="chat in chat.allMessages">
            <span class="user"><strong>{{ chat.user }}: </strong></span>
            <span class="chat">{{ chat.message }}</span>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</div>
