<div>
  <h4 class="text-center trip-header">Review</h4>
  <div class="text-left"> 
    <div><strong>Name: </strong>{{ tripData.name }}</div>
    <div><strong>Where: </strong>{{ tripData.where }}</div>
    <div><strong>Leave: </strong>{{ tripData.begin | date: "MM-dd-yyyy" }}</div>
    <div><strong>Return: </strong>{{ tripData.end | date: "MM-dd-yyyy" }}</div>
    <div><strong>Supplies: </strong>
        <span ng-repeat="supply in tripData.supplies track by $index">
          {{ supply }}<span ng-show="!$last">,</span>
        </span>
    </div>
  </div>
  
  <button class="btn btn-success" type="submit" ng-click="post()">Submit</a></button>
</div>
